* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 10px;
}

.dashboard {
  height: 100vh;
  display: grid;
  gap: 5px;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1fr min(200px, 30%);
  background-color: aqua;
}

.grid {
  background-color: rgb(29, 95, 153);
  padding: 5px;
}

.list-item {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  background-color: red;
  border: 1px solid black;
}

.grid-item {
  position: absolute;
}

.grid-item div {
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid black;
  display: grid;
  place-items: center;
  height: calc(100% - 10px);
  background-color: yellow;
}

.header {
  margin-top: 10px;
  grid-column-end: span 2;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 10px;
}

.buttons button {
  padding: 5px 20px;
  margin-right: 10px;
}

.footer {
  grid-column-end: span 2;
}

@media (min-width: 600px) {
  .list {
    grid-row-end: span 2;
  }
}

@media (max-width: 600px) {
  .buttons {
    grid-column-end: span 2;
  }
}
